<form-wizard>
  <wizard-step [title]="'Step1'" [isValid]="emailForm.form.valid" (onNext)="onStep1Next($event)">
    <h2 style="text-align: center;"> CREAT YOUR ACCOUNT</h2>
    <h4 style="text-align: center;">This is step 1</h4>
  <form id="msform" #emailForm="ngForm">
    <div class="form-group">
    <input [(ngModel)]="email" type="text" name="email" class="form-control" placeholder="Email" 
  required>
    </div>
    <div class="form-group">
    <input type="password" name="password" placeholder="Password" [(ngModel)]="password"  required>
    </div>
    <div class="form-group">
    <input type="password" name="cpassword" placeholder="Confirm Password" [(ngModel)]="cpassword" required>
    </div>
     </form>  
  </wizard-step>
  <wizard-step [title]="'Step2'"  [isValid]="socialForm.form.valid" (onNext)="onStep2Next($event)">
    <h2 style="text-align: center;">SOCIAL PROFILE</h2>
    <h4 style="text-align: center;">We will never sell it</h4>
  <form id="msform" #socialForm="ngForm">
    <div class="form-group">
    <input type="text" name="twitter" placeholder="Twitter" [(ngModel)]="twitter">
    </div>
    <div class="form-group">
    <input type="text" name="facebook" placeholder="Facebook">
    </div>
    <div class="form-group">
    <input type="text" name="googleplus" placeholder="Google plus">
    </div>
   </form>
  </wizard-step>
  <wizard-step [title]="'Step3'" [isValid]="personalForm.form.valid" (onComplete)="onComplete($event)">
    <h2 style="text-align: center;">PERSONAL DETAILS</h2>
    <h4 style="text-align: center;">We will never sell it</h4>
  <form id="msform" #personalForm="ngForm">
    <div class="form-group">
    <input type="text" name="firstName" placeholder="First name" [(ngModel)]="firstName" required>
    </div>
    <div class="form-group">
    <input type="text" name="lastName" placeholder="Last name"  [(ngModel)]="lastName">
    </div>
    <div class="form-group">
    <input type="number" name="number" placeholder="Phone"  [(ngModel)]="phone" required>
    </div>
    <div class="form-group">
    <input type="text" name="address" placeholder="Address">
    </div>
   </form>
  </wizard-step>
</form-wizard>